body{
    background-color: #eeeeee;
}

.card, .table{
    background-color: #ffffff;
}

#header{
    background-color: #712cf9;
    background-image: url(../img/abstract-shapes-20.svg);
}


.bookm{
    
    position: relative;
    padding-left: 1.15rem;
    letter-spacing: .8px;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 27px;
    color: #77838f;
    /*background-color: rgba(119,131,143,.1);*/
    background-color: rgba(36, 104, 173, 0.342);

    font-size:1rem;
    padding: 0.2rem 0.8rem 0.2rem 2rem;
}

.bookm::after{

    
    position: absolute;
    left: 0;
    top: 0;
    height: 25px;
    content: "";
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;
    border-left: 0.8rem solid #fff;

}
.tx-info{
    border:1px solid #eeeeee;
}

.error-output{
    border: 1px solid #eeeeee;
    padding: 5px;
    background-color: #e63689;
    color: white;
}

#btn_compiler{
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.container{
    font-family: Helvetica,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    text-align: left;
}