<div  class="shadow-sm mb-4 rounded-2 p-0 m-0 tx-info" >
<table class="table table-borderless m-0 p-0 mt-0">
<tr class="p-0 mt-0">
    <td class="p-0 mt-0">
        <a href="/transaction/{{ tx['hash'].hex() }}">
        <svg class="bd-placeholder-img img-fluid rounded-start" width="64px" height="80px" xmlns="http://www.w3.org/2000/svg" role="img" focusable="false">
            <rect width="100%" height="100%" fill="#868e96"></rect>
            <text x="35%" y="50%" fill="#dee2e6" dy=".3em">TX</text>
        </svg>
        </a>
    </td>
    <td class="p-0 mt-0">
            <p  class="pt-4 mb-0">
                Hash:<a href="/transaction/{{ tx['hash'].hex() }}">{{ tx['hash'].hex() | truncate(15, True, '...') }}</a>
            </p>
    </td>
    <td class="p-0 m-0">
        <p class="pt-2 mb-0">
            <strong>From</strong>   
            <a href="/address/{{ tx['from'] }}">
                {{ tx['from'] | truncate(15, True, '...')   }}</a>
        </p>
        <p>
            <strong>To</strong>
            <a href="/address/{{ tx['from'] }}">
                {{ tx['to'] | truncate(15, True, '...')  }}</a>
        </p>
    </td >
    <td class="p-0 mt-0">
        {% with eth = tx['value'] / 1000000000000000000 %}
             <span class="bookm float-end">{{eth}} Eth</span>

        {% endwith %}

        
    </td>
</tr>
</table>
</div>