{% extends "layout.html" %}

{% block content %}

<div class="container">


    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">

                
        <h3 class='text-break'> Block {{block.number}}</h3>

        <div class="card">
            
            <a href="#txns"> 
                <span class="bookm float-end">
                    {{ block.transactions|length }} txns
                </span>
            </a>
            
            <div class="card-body">
            

                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Hash:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break">{{ block.hash.hex() }}</span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Parent Hash:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break">{{ block.parentHash.hex() }}</span>
                    </div>
                </div>

                <hr class="hr-space mb-2">



                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        receiptsRoot:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break">{{ block.receiptsRoot.hex() }}</span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        sha3Uncles:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.sha3Uncles.hex() }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">

                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        TimeStamp:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{  block.timestamp  }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Date Time:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ datetime_block_str }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">



                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Transactions:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.transactions|length }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Size:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.size}} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Gas Limit:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.gasLimit }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">



                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Gas Used:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.gasUsed }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">

                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Base Fee Per Gas:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.baseFeePerGas }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Difficulty:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.difficulty }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">


                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Total Difficulty:
                    </div>
                    <div class="col-md-9">
                        <span class="text-break"> {{ block.totalDifficulty }} </span>
                    </div>
                </div>

                <hr class="hr-space mb-2">



                

                <div class="row mt-1 mb-4">
                    <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                        Proof Of Authority Data:
                    </div>
                    <div class="col-md-9">

                        <textarea readonly="" spellcheck="false"
                            class="form-control bg-light text-secondary text-monospace p-3" rows="2"
                            id="inputdata">{{block.proofOfAuthorityData.hex()}}</textarea>

                    </div>
                </div>



        </div>
    </div>
</div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Txns</h3>
                {% for tx, receipt in txns %}
                    {% include 'details/tx.html' %}
                {% endfor %}
            </table>
        </div>
        
    </div>
</div>

    
    

{% endblock %}