{% extends "layout.html" %}

{% block content %}
    
<div class="container">
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h3>Block {{block.number}}</h3>

        <div class="shadow rounded p-0">

        <table class="table table-bordered ">
                
            <table class="table table-striped mt-4">
              
                <tr>
                    <td colspan="2">
                        <strong>Hash: </strong> {{ block.hash.hex() }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <strong> parentHash: </strong>{{ block.parentHash.hex() }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <strong> parentHash: </strong>{{ block.parentHash.hex() }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <strong> receiptsRoot: </strong>{{ block.receiptsRoot.hex() }}
                    </td>
                </tr>

                <tr>
                    <td colspan="2">
                        <strong>sha3Uncles:</strong> {{ block.sha3Uncles.hex() }}
                    </td>
                </tr>

                


                

              
                <tr>
                    <td><strong>Timestamp</strong></td>
                    <td>
                        {{ block.timestamp }}
                    </td>
                </tr>

                <tr>
                    <td><strong>Date Time</strong></td>
                    <td>
                        {{ datetime_block_str }}
                    </td>
                </tr>

                <tr>
                    <td><strong> Transactions </strong></td>
                    <td><a href="/transactions"></a>{{ block.transactions|length }} transactions</a></td>
                </tr>
                <tr>
                    <td><strong> Size </strong></td>
                    <td>{{ block.size }}</td>
                </tr>
                <tr>
                    <td><strong>  Gas Limit </strong> </td>
                    <td>{{ block.gasLimit }}</td>
                </tr>
                <tr>
                    <td><strong>  Gas Used </strong> </td>
                    <td>{{ block.gasUsed }}</td>
                </tr>
                <tr>
                    <td><strong> Base Fee Per Gas </strong> </td>
                    <td>{{ block.baseFeePerGas }}</td>
                </tr>
                <tr>
                    <td><strong> Difficulty </strong> </td>
                    <td>{{ block.difficulty }}</td>
                </tr>
                <tr>
                    <td><strong> Total Difficulty </strong> </td>
                    <td>{{ block.totalDifficulty }}</td>
                </tr>

                <tr>
                    <td><strong> Proof Of Authority Data </strong> </td>
                    <td>
                        <p style='word-break: break-all;'>
                        {{ block.proofOfAuthorityData.hex() }}
                        </p>
                    </td>
                </tr>
                
            </table>
        </div>
    </div>




    <div class="col-lg-6 col-md-6 col-sm-12">
        <h3>Txns</h3>
            {% for tx in txns %}
                {% include 'details/tx.html' %}
            {% endfor %}
        </table>
        
    </div>
    
        </div>
    </div>

    
    

{% endblock %}