{% extends "layout.html" %}

{% block content %}

<div class="container">


    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12">

                    <!-- As a heading -->
                    <nav class="navbar bg-light shadow-sm mb-4 rounded-2 p-0 m-0"  style="height: 64px;">
                        <div class="container-fluid">
                            <span class="navbar-brand mb-0 h1"><i class="bi bi-box"></i> Blocks</span>
                            <ul class="pagination pt-2">
                                {% if next != 0 %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index') }}?page=0">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                {% endif %}

                                {% if next or page ==1 %}
                                <li class="page-item"><a class="page-link"
                                        href="{{ url_for('index') }}?page={{next}}">{{next}}</a></li>
                                {% endif %}

                                <li class="page-item active"><a class="page-link" href="" class="active"> {{page}}</a>
                                </li>

                                {% if prev %}
                                <li class="page-item"><a class="page-link" href="{{ url_for('index') }}?page={{prev}}">
                                        {{prev}}</a></li>
                                {% endif %}

                                {% if first != page %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('index') }}?page={{first}}">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>

                        </div>

                    </nav>

                    {% for block in latest_blocks %}
                        {% include 'details/block.html' %}
                    {% endfor %}
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            
            <nav class="navbar bg-light shadow-sm mb-4 rounded-2 p-0 m-0" style="height: 64px;">
                <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">

                        <i class="bi bi-file-earmark-break"></i>

                        Txns</span>
                    <br>
                </div>
            </nav>
 
            {% for tx,receipt in latest_transactions %}
            {% include 'details/tx.html' %}
            {% endfor %}
            </table>

        </div>

    </div>

</div>

{% endblock %}