{% extends "layout.html" %}

{% block content %}






<div class="container">
    
    
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">

            <div class="card shadow rounded">
                <div class="card-body">
                
                

                <!-- As a heading -->
                <nav class="navbar bg-light">
                    <div class="container-fluid">
                    <span class="navbar-brand mb-0 h1">Blocks</span>
                    <ul class="pagination pt-2 pagination-sm">
                        {% if next != 0 %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('index') }}?page=0"> 
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}    
                        
                        {% if next or page ==1 %}
                            <li class="page-item" ><a class="page-link" href="{{ url_for('index') }}?page={{next}}">{{next}}</a></li>
                        {% endif %}    

                        <li class="page-item active"><a class="page-link" href="" class="active"> {{page}}</a></li>
                        
                        {% if prev %}
                            <li class="page-item"><a class="page-link" href="{{ url_for('index') }}?page={{prev}}"> {{prev}}</a></li>
                        {% endif %}
                        
                        {% if first != page %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('index') }}?page={{first}}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>

                </div>


                </nav>
                
                
            <table class="table">
                        <thead>
                            <tr>
                                <th> # </th>
                                <th> Time </th>
                                <th> Txns </th>
                            </tr>
                        </thead>

                        {% for blk in latest_blocks %}
                        <tr>
                            <td>
                                <a href="{{ url_for('block', block_number=blk.number) }}">
                                    {{ blk.number }}
                                </a>
                            </td>
                            <td>
                                {{ (current_time - blk.timestamp)|int }} seconds ago
                            </td>
                            <td>
                                    {{ blk.transactions|length }}
                            </td>
                        </tr>
                        {% endfor %}

                    </table>

                   
                    
                </div>


            </div>
            
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12">
            <h3>Txns</h3>
                {% for tx in latest_transactions %}
                    {% include 'details/tx.html' %}
                {% endfor %}
            </table>
            
        </div>

    </div>
    
</div>

{% endblock %}