{% extends "layout.html" %}

{% block content %}

<div class="container mb-5">

    <h3 class='text-break'> Transaction Details </h3>

    <div class="card">
        <div class="card-body">

            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Transaction Hash:
                </div>
                <div class="col-md-9">
                    <span class="text-break">{{ tx.hash.hex() }}</span>
                </div>
            </div>
            <hr class="hr-space mb-2">
            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Status:
                </div>
                <div class="col-md-9">
                    {{receipt.status}}
                </div>
            </div>

            <hr class="hr-space mb-2">

            {% if receipt.contractAddress %}
            
            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Contract Address:
                </div>
                <div class="col-md-9">
                    <a href="{{ url_for('address', addr=receipt.contractAddress)}}">
                        <span class="text-break">{{ receipt.contractAddress  }}</span>
                    </a>

                </div>
            </div>

            <hr class="hr-space mb-2">

            {% endif %}



            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Block Number:
                </div>
                <div class="col-md-9">
                    <a href="{{ url_for('block', block_number=tx.blockNumber) }}">
                        {{ tx.blockNumber }}
                    </a>
                </div>
            </div>

            <hr class="hr-space mb-2">

            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    blockHash:
                </div>
                <div class="col-md-9">
                    <span class="text-break">{{ tx.blockHash.hex() }}</span>
                </div>
            </div>
            <hr class="hr-space mb-2">


            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    From:
                </div>
                <div class="col-md-9">

                    <a href="{{ url_for('address', addr=tx.from) }}">
                        <span class="text-break">{{ tx.from }}</span>
                    </a>
                </div>
            </div>

            <hr class="hr-space mb-2">

            {% if tx.to %}
            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    To:
                </div>
                <div class="col-md-9">
                    <a href="{{ url_for('address', addr=tx.to) }}">
                        <span class="text-break">{{ tx.to }}</span>
                    </a>
                </div>
            </div>
            {% endif %}

            <hr class="hr-space mb-2">



            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Value
                </div>
                <div class="col-md-9">
                    <span class="badge  text-bg-light p-2">{{value}} Ether</span>
                </div>
            </div>

            <hr class="hr-space mb-2">

            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Gas used:
                </div>
                <div class="col-md-9">
                    <span class="badge  text-bg-light p-2">{{receipt.gasUsed }} Ether</span>
                </div>
            </div>
            <hr class="hr-space mb-2">


            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Gas price:
                </div>
                <div class="col-md-9">
                    <span class="badge  text-bg-light p-2"> {{ tx.gasPrice / 1000000000 }} Gwei </span>
                </div>
            </div>

            <hr class="hr-space mb-2">



            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Transaction fee:
                </div>
                <div class="col-md-9">
                    <span class="badge  text-bg-light p-2"> {{ receipt.gasUsed * gas_price }} Ether </span>
                </div>
            </div>
            <hr class="hr-space mb-2">

            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Nonce:
                </div>
                <div class="col-md-9">

                    {{tx.nonce}}

                </div>
            </div>

            <hr class="hr-space mb-2">


            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Transaction Index:
                </div>
                <div class="col-md-9">

                    {{tx.transactionIndex}}

                </div>
            </div>
            <hr class="hr-space mb-2">

            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Transaction Type:
                </div>
                <div class="col-md-9">

                    {{tx.type}}

                </div>
            </div>
            <hr class="hr-space mb-2">
            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Chain ID:
                </div>
                <div class="col-md-9">

                    {{tx.chainId}}

                </div>
            </div>


            <hr class="hr-space mb-2">



            <div class="row mt-1 mb-4">
                <div class="col-md-3 fw-bold  mb-1 mb-md-0">
                    Input:
                </div>
                <div class="col-md-9">

                    <textarea readonly="" spellcheck="false"
                        class="form-control bg-light text-secondary text-monospace p-3" rows="2"
                        id="inputdata">{{tx.input}}</textarea>

                </div>
            </div>




        </div>
    </div>



</div>

{% endblock %}